@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
h1 {
    font-family: 'Pacifico', cursive;
    font-size: 1.5em;
}
h2{
    font: bold 1.5em 'Work Sans', sans-serif;
}
/*dessa forma, ele tentará sempre uma delas, não todas*/
p{ 
   /* font-family: 'Titillium Web', sans-serif;
    font-weight:600;
    font-style:italic;
    text-decoration:underline */
    font: italic 900 1em 'Titillium Web', sans-serif;
}
